label { display: block; }

input, textarea, button {
   display:inline-block;
   font-family:arial;
   margin: 5px 10px 5px 40px;
   padding: 8px 12px 8px 12px;      
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   width: 90%;
   font-size: small;
}

div {
   margin-left: auto;
   margin-right: auto;
   width: 60%;  
}

h1 { text-align: center; }    

input[type=submit] { 
   padding:5px 15px; 
   background:#ccc; 
   border:0 none;
   cursor:pointer;
   border-radius: 5px; 
}

input[type=submit]:hover {
   background-color: #ccceee;
}    
 
button[type=submit] {
   padding:5px 15px; 
   background:#ccc; 
   border:0 none;
   cursor:pointer;
   border-radius: 5px; 
}
  
button[type=submit]:hover {
   background-color: #ccceee;
}
    
.msg {
	margin-left:40px;
	font-style: italic;
	color: red;
}  
    
html{ height:100%; }

body{ 
   min-height:100%; 
   padding:0; 
   margin:0; 
   position:relative; }    

footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 50px;
   color: WhiteSmoke;
   padding: 10px;
}